<div class="bg-base-100 text-base-content">
  <!-- ユーザー情報 -->
  <section class="flex flex-col items-center mb-8">
    <%= image_tag current_user.image.url, alt: current_user.name, class: "rounded-full mb-4" %>
    <p class="text-lg font-semibold"><%= current_user.name %></p>
    <p>生成したキャラの数: <%= @character_count %>体</p>
    <p>戦闘回数: <%= current_user.battle_count %>回</p>
    <p>勝利回数: <%= current_user.win_count %>回</p>
    <p>勝率: <%= @win_rate %>%</p>

  </section>

  <!-- アクションボタン -->
  <section class="grid grid-cols-2 gap-6 max-w-4xl mx-auto text-center mb-8">
    <div class="flex flex-col justify-between items-center md:p-4">
      <p class="mb-4">あなたのアイデアを入力して、オリジナルキャラクターを生成しよう！</p>
      <%= link_to "キャラを生成", new_character_path, class: "btn btn-primary w-full" %>
    </div>
    <div class="flex flex-col justify-between items-center md:p-4">
      <p class="mb-4">これまでに作ったキャラクターを選択し、バトルに挑もう！</p>
      <%= link_to "キャラー一覧", user_characters_path(current_user), class: "btn btn-primary w-full" %>
    </div>
    <div class="flex flex-col justify-between items-center md:p-4">
      <p class="mb-4">これまでの戦闘結果を確認して、次の戦略を考えよう！</p>
      <%= link_to "戦闘履歴", user_battles_path(current_user), class: "btn btn-primary w-full" %>
    </div>
    <div class="flex flex-col justify-between items-center md:p-4">
      <p class="mb-4">全国のライバルをチェックしよう！</p>
      <%= link_to "プレイヤー一覧", users_path, class: "btn btn-primary w-full" %>
    </div>
  </section>
</div>
