<div class="bg-base-100 text-base-content">
  <!-- ユーザー情報 -->
  <section class="flex flex-col items-center mb-8">
    <%= image_tag current_user.image.url, alt: current_user.name, class: "rounded-full mb-4" %>
    <p class="text-lg font-semibold"><%= current_user.name %></p>
    <p>生成したキャラの数: <%= @character_count %>体</p>
    <p>戦闘回数: <%= current_user.battle_count %>回</p>
    <p>勝利回数: <%= current_user.win_count %>回</p>
    <p>勝率: <%= @win_rate %>%</p>

  </section>

  <!-- アクションボタン -->
  <section class="grid grid-cols-2 gap-6 max-w-4xl mx-auto text-center mb-8">
  <div class="flex flex-col justify-between items-center md:p-4">
    <p class="mb-4">あなたのアイデアを入力して、オリジナルキャラクターを生成しよう！</p>
    <%= link_to "キャラを生成", new_character_path, class: "btn btn-primary w-full" %>
  </div>
  <div class="flex flex-col justify-between items-center md:p-4">
    <p class="mb-4">これまでに作ったキャラクターを選択し、バトルに挑もう！</p>
    <%= link_to "キャラー一覧", user_characters_path(current_user), class: "btn btn-primary w-full" %>
  </div>
  <div class="flex flex-col justify-between items-center md:p-4">
    <p class="mb-4">これまでの戦闘結果を確認して、次の戦略を考えよう！</p>
    <%= link_to "戦闘履歴", user_battles_path(current_user), class: "btn btn-primary w-full" %>
  </div>
  <div class="flex flex-col justify-between items-center md:p-4">
    <p class="mb-4">全国のライバルをチェックしよう！</p>
    <%= link_to "プレイヤー一覧", users_path, class: "btn btn-primary w-full" %>
  </div>
</section>


  <!-- 最近生成されたキャラクター -->
  <section>
    <h2 class="text-2xl font-bold mb-4 text-center">最近生成されたキャラクター</h2>
      <!-- キャラクター一覧 -->
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-6">
      <% @characters.each do |character| %>
        <div class="card bg-base-100 shadow-md hover:shadow-lg transition-shadow">
          <!-- キャラクター画像 -->
          <figure class="w-full h-48 object-cover rounded-t-lg overflow-hidden">
            <%= link_to character_path(character), class: "block w-full h-full" do %>
              <%= image_tag(character.image? ? character.image.url : "https://placehold.jp/150x150.png", alt: character.name, class: "rounded-lg w-full h-full object-cover") %>
            <% end %>
          </figure> 

          <!-- キャラクター情報 -->
          <div class="p-4">
            <h2 class="text-xl font-semibold mb-2"><%= character.name %></h2>
            <p class="text-xs md:text-sm text-gray-600 mb-4"><%= truncate(character.description, length: 100) %></p>

            <!-- 詳細ボタン -->
            <div class="flex justify-between">
              <%= link_to "詳細", character_path(character), class: "btn btn-primary btn-sm" %>
              <p class="text-xs md:text-sm text-gray-600 mt-4">by <%= character.user.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
