<!DOCTYPE html>
<html class="h-full" data-theme="bumblebee">
  <head>
    <title>GENEARENA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags %>

    <!-- OGPメタタグ -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'GENEARENA' %>">
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : 'GENEARENAは、言葉ひとつでキャラクターを生み出し、バトルで使うスキルを選んで挑むシンプルなゲーム。選んだ技が勝利へのカギを握り、戦いの物語を紡ぎます。最強の相棒とアリーナを制覇せよ！' %>">

    <% if @character || @battle %>
      <!-- OGP画像のURLを条件に応じて設定 -->
      <meta property="og:image" content="<%= 
        if params[:controller] == 'characters' && params[:action] == 'show'
          og_image_character_url(@character)
        elsif params[:controller] == 'battles' && params[:action] == 'show'
          og_image_battle_url(@battle)
        end %>">

      <!-- Twitterカードメタタグ -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'GENEARENA' %>">
      <meta name="twitter:description" content="<%= content_for?(:description) ? yield(:description) : 'GENEARENAは、言葉ひとつでキャラクターを生み出し、バトルで使うスキルを選んで挑むシンプルなゲーム。選んだ技が勝利へのカギを握り、戦いの物語を紡ぎます。最強の相棒とアリーナを制覇せよ！' %>">
      
      <!-- Twitterカード画像のURLを条件に応じて設定 -->
      <meta property="og:image" content="<%= 
        if params[:controller] == 'characters' && params[:action] == 'show'
          og_image_character_url(@character)
        elsif params[:controller] == 'battles' && params[:action] == 'show'
          og_image_battle_url(@battle)
        end %>">
    <% end %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col min-h-full">
    <header class="mb-10 bg-primary text-primary-content">
      <div class="container mx-auto p-4 flex justify-between items-center">
        <%= link_to "GENEARENA", root_path, class: "link link-hover text-xl md:text-3xl font-logo" %>
        <div>
          <% if current_user %>
            <%= current_user.name %>さん
            <%= link_to "ログアウト", log_out_path %>
          <% else %>
            <%= button_to "/auth/google_oauth2", method: :post, data: { turbo: false }, class:"flex" do %>
              <%= image_tag "https://developers.google.com/identity/images/branding_guideline_sample_lt_sq_lg.svg", alt: "Googleでログイン" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% flash.each do |type, message| %>
        <div class="p-2 text-center text-white <%= type == 'alert' ? 'bg-red-500' : 'bg-green-500' %>">
          <%= message %>
        </div>
      <% end %>
    </header>

    <main class="flex-grow m-2 md:m-6 ">
      <%= yield %>
    </main>

    <footer class="mt-10 bg-neutral text-neutral-content py-4">
      <div class="container mx-auto text-center text-sm">
        &copy; GENEARENA. All rights reserved.
        <div class="mt-2 flex justify-center space-x-4">
          <%= link_to "プライバシーポリシー", "#", class: "link link-hover text-gray-400" %>
          <%= link_to "利用規約", "#", class: "link link-hover text-gray-400" %>
          <%= link_to "お問い合わせ", "#", class: "link link-hover text-gray-400" %>
        </div>
      </div>
    </footer>
  </body>
</html>
